.cartItems {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: large;
    top: 10%;
    left: 5%;
    color: red;
  }

.Cart{
  position: absolute;
  bottom: 30%;
  left: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 80px;
  width: 40%;
  border-radius: 8px;
  text-align: center;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  .total {
    display: flex;
    position: relative;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem 0;
    right: 11%;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .actions button {
    position: relative;
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
    left: 10%;
    
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
  }
  
  .actions .button--alt {
    color: #8a2b06;
  }
  
  .actions .button {
    background-color: #8a2b06;
    color: white;
  }